<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        Enter your question!
    </div>
    <form method="post">
        <div>
            Title:
            <input type="text" name="title" />
        </div>
        <div>
            Question:
            <input type="text" name="question" />
        </div>
        <div>
            Answer:
            <input type="text" name="answer" />
        </div>
        <div>
            <button type="submit">Save question</button>
        </div>
    </form>
</body>
</html>